run
{
DUPLICATE TARGET DATABASE
  FOR STANDBY
  FROM ACTIVE DATABASE
  DORECOVER
  SPFILE
{% if dbh.init_parameters is defined %}
{% for param in dbh.init_parameters %}
{% if param.duplicate | default(false) %}
    SET {{ param.name }}={% if param.value[0] != "'" %}'{% endif %}{{ param.value }}{% if param.value[-1] != "'" %}'{% endif %}

{% endif %}
{% endfor %}
{% endif %}
  NOFILENAMECHECK;
}